<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Join us for your next astronomy adventure..!!</h2>
                <hr class="light">
                <p class="text-faded">We provide curated stargazing and astrophotography events just 2.5 hours drive from Mumbai under dark skies. Come and enjoy an immersive astronomical experience combining scienctific concepts, mythological stories, visual onservations, practical demonstrtions.!!</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get in touch!</a> -->
                <br>
                <h2 class="section-heading">Upcoming Events</h2>
                <br>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <h3>14 & 21 Feb'26</h3>
                            <p class="text-muted">Setting Winter skies, galaxy season peak.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <h3>14 & 21 Mar'26</h3>
                            <p class="text-muted">Rise of Milkyway, Orion hunter vs Scorpio.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <h3>11 & 18 Apr'26</h3>
                            <p class="text-muted">Astrophotography special, Milky Way Core.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <h3>9 & 16 May'26</h3>
                            <p class="text-muted">Last chance to see Milkyway before monsoon.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>
