<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Facilities</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>4 Visual telescopes</h3>
                    <p class="text-muted">4 visual telescope - 10 & 8 inch Dob, 8 inch RC, 5 inch Mak to cater your visual needs.</p>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-camera wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Smart telescope & live video</h3>
                    <p class="text-muted">Live image capture via Smart telescope for immersive experience.</p>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-photo wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Hands-on astrophotography</h3>
                    <p class="text-muted">Expert guidance to capture milkyway, moon and stars using your mobile, dslr and proper rig.</p>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Comfortable stay experience</h3>
                    <p class="text-muted">Limited seats, premium tents, homely food, clean washroom and abundant nature.</p>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <br><br>
                <h2 class="section-heading">Night Skygazers site</h2>
                <hr class="primary">
                <p>Sakurli village in Thane district is a quiet countryside escape nestled amid the lush greenery of Maharashtra’s Konkan belt.</p>
                <p>Surrounded by rolling hills, seasonal waterfalls, and lush foilage, Sakurli offers a refreshing break from city life just a short drive from Thane and Mumbai. It is well connected by both Nashik highway and Samruddhi expressway. Home to Bortle 4 sky, it is ideal stargazing location to witness the stars, planets and galaxies in its glory.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/s-1.jpg" class="img-responsive" alt="sakurli stargazing location">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Stargazing session 
                            </div>
                            <div class="project-name">
                                Stargazing session in progress, slideshow and telescopic observation.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/s-2.jpg" class="img-responsive" alt="sakurli stargazing location">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Stargazing session
                            </div>
                            <div class="project-name">
                                Stargazing session in progress, slideshow and telescopic observation.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/s-3.jpg" class="img-responsive" alt="sakurli stargazing location">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Our collection of Imaging setups
                            </div>
                            <div class="project-name">
                                8+ year of stargazing and 4+ years of astrophotography experience.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>

    
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <br><br>
                <h2 class="section-heading">How to reach</h2>
                <hr class="primary">
                <br>
                <p> <a href="https://maps.app.goo.gl/BPtdwxkaY8Ci3PFd7"> Link to google maps </a></p>
                <br><br>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="img/map-high-level.jpg"  class="portfolio-box">
                    <img src="img/portfolio/m-1.jpg" class="img-responsive" alt="sakurli stargazing location google maps">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/map-high-level.jpg"  class="portfolio-box">
                    <img src="img/portfolio/m-3.jpg" class="img-responsive" alt="sakurli stargazing location instructions">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/map-detail-level.jpg"  class="portfolio-box">
                    <img src="img/portfolio/m-2.jpg" class="img-responsive" alt="sakurli stargazing location google maps">
                </a>
            </div>
            
        </div>
    </div>
    

</section>
