<section class="no-padding bg-dark" id="portfolio">
    <div class="col-lg-8 col-lg-offset-2 text-center">
                <br>
                <h2 class="section-heading">Photo Gallery</h2>
                <p class="text-faded">Some of the photos clicked by us.</p>
                <br>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1-1.jpg" class="img-responsive" alt="full moon">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Full Moon
                            </div>
                            <div class="project-name">
                                Clicked using Canon camera and telephoto lens
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1-2.jpg" class="img-responsive" alt="andromeda galaxy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Andromeda
                            </div>
                            <div class="project-name">
                                Our neighbouring galaxy clicking using imaging setup
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1-3.jpg" class="img-responsive" alt="planets saturn jupiter mars">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Planetary parade
                            </div>
                            <div class="project-name">
                                Saturn, Jupiter and Mars clicked using long focal telescope
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2-1.jpg" class="img-responsive" alt="Comet">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Comet ZTF
                            </div>
                            <div class="project-name">
                                Comet ZTF clicked using imaging setup
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2-2.jpg" class="img-responsive" alt="star trail">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Star ttrail
                            </div>
                            <div class="project-name">
                                Star trail clicked using Canon camera and wideangle lens
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2-3.jpg" class="img-responsive" alt="Globular star cluster">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Star cluster
                            </div>
                            <div class="project-name">
                                Globular star cluster clicked using imaging setup
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3-1.jpg" class="img-responsive" alt="Eagle nebula pillars of creation">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Eagle nebula
                            </div>
                            <div class="project-name">
                                Eagle nebula showing pillars of creation at the center
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3-2.jpg" class="img-responsive" alt="Dolphin head">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Dolphin head nebula
                            </div>
                            <div class="project-name">
                                Clicked using imaging setup with over 30 hours
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3-3.jpg" class="img-responsive" alt="Orion nebula">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Great Orion nebula
                            </div>
                            <div class="project-name">
                                Great Orion nebula clicked using imaging setup
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
    <br><br><br>
</section>
