<section id="services">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <br><br><br>
                <h2 class="section-heading">Our site location</h2>
                <hr class="primary">
                <p>Sakurli village in Thane district is a quiet countryside escape nestled amid the lush greenery of Maharashtra’s Konkan belt.</p>
                <p>Surrounded by rolling hills, seasonal waterfalls, and lush foilage, Sakurli offers a refreshing break from city life just a short drive from Thane and Mumbai. It is well connected by both Nashik highway and Samruddhi expressway.</p>
                <p>Home to Bortle 4 sky, it is ideal stargazing location to witness the stars, planets and galaxies in its glory.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/s-1.jpg" class="img-responsive" alt="sakurli stargazing location">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Stargazing session 
                            </div>
                            <div class="project-name">
                                Stargazing session in progress, slideshow and telescopic observation.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/s-2.jpg" class="img-responsive" alt="sakurli stargazing location">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Stargazing session
                            </div>
                            <div class="project-name">
                                Stargazing session in progress, slideshow and telescopic observation.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/s-3.jpg" class="img-responsive" alt="sakurli stargazing location">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Our collection of Imaging setups
                            </div>
                            <div class="project-name">
                                8+ year of stargazing and 4+ years of astrophotography experience.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>






</section>
